<header>
    Chat
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-card class="row content-card">
                <div *ngFor="let message of messageList">
                    {{message.sendTime}} {{message.sender}} {{message.text}}
                </div>
            </mat-card>
            <mat-card class="row content-card">
                <div class="btn-group" [formGroup]="messageForm">
                    <input type="text" class="form-control" aria-label="Message" formControlName="text" />
                    <button type="button" class="btn btn-secondary">smile</button>
                    <button type="button" class="btn btn-secondary" (click)="sendMessage()">send</button>
                </div>
            </mat-card>
        </div>
        <aside class="col-2">
            <mat-card class="row">
                <ul>
                    <li *ngFor="let user of userList">
                        {{user.name}}
                    </li>
                </ul>
            </mat-card>
        </aside>
    </div>
</main>
