header {
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: #333333;
    color: #707070;
    font-size: 20px;
}

main {
    height: calc(100vh - 70px);
}

.container-fluid > .row {
    height: 100%;
}

mat-card {
    margin: 15px 10px;
}

mat-card.content-card {
    border: 1px solid #efefef;
}

mat-card.content-card:first-of-type {
    height: calc(100% - 100px);
    scroll-x: none;
    scroll-y: auto;
}

.content-card .btn-group {
    width: 100%;
}

mat-card.content-card .btn-group > * {
    border: none;
}

mat-card.content-card .btn-group button:first-of-type {
    background: #ffffff;
    border-left: 1px solid #efefef;
}

mat-card.content-card .btn-group button:last-of-type {
    background: #008000;
}

mat-card.content-card:last-of-type {
    padding: 0;
}

aside {
    height: 100%;
    background: #333333;
    border-top: 2px solid #1C2329;
}

aside mat-card {
    background: #FFFFFF
}